{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Zerowanie hasła</title>
{% endblock head %}

{% block content %}
    {% if validlink %}
        <p>Podaj swoje nowe hasło</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send message">
        </form>
    {% else %}
        <p>Łącze pozwalające na wyzerowanie hasła jest niepoprawne, prawdopodobnie zostało już użyte prosimy o ponowne wyzerowanie hasła.</p>
    {% endif %}
{% endblock %}